@font-face {
    font-family: "Feather Bold";
    src: url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot");
    src: url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/14936bb7a4b6575fd2eee80a3ab52cc2.svg#Feather Bold")format("svg");
}

@font-face {
    font-family: "rounded";
    src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot");
    src: url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ab596f21664c5582567537d241e2a53e.svg#DIN Next Rounded LT W01 Regular")format("svg");
}

::placeholder {
    color: #c7880b;
    font-family: "Feather Bold";
}

.work_input::placeholder, .home_input::placeholder {
    font-family: "Feather Bold";
    font-size: 1.3rem;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

html {
    font-size: 62.5%; /** Makes it so that 0.1 rem = 1 px **/
    overflow-x: hidden;
}

a {
    all: unset;
}

p {
    cursor: default;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 90%; 
    background-color:#083947;
    height: 2px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.contacts_hr {
    margin-top: 20px;
    height: 2px;
}

body {
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/bg.png");
    background-size: contain;
    gap: 20px;
}

.container {
    margin: 10px;
    background-color: #F6F4E5;
    min-width: 500px;
    min-height: 715px;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgb(239, 144, 43);
}

input {
    color: #083947;
    font-size: 1.3rem;
}

input:focus {
    outline: none;
}

/** resume **/
.container {
    display: grid;
    grid-template-columns: 229px 458px;
}

.identity_area {
    background-color: #ffe18a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.face {
    margin: 5px;
    width: 60%;
    height: auto;
}

.name_input, .job_input {
    background: #ffe18a;
    width: 90%;
    padding: 0.5em;
    font-weight: bold;
    margin-top: 0.5em;
    border: none;
    border-bottom: solid rgb(215, 158, 14) 2px;
    font-size: 1.6rem;
    font-family: "Feather Bold";
}

.name_input::placeholder, .job_input::placeholder {
    color: #083947;
}

.name_title {
    margin-top: 10px;
    text-align: center;
    font-family: "Feather Bold";
    color: #083947;
    font-size: 2.0rem;
}

.job_title {
    text-align: center;
    font-family: "rounded";
    color: #0c5467;
    font-size: 1.6rem;
}

.profile_title, .contacts_title {
    display: flex;
    width: 90%;
    gap: 10px;
    align-items: center;
}

.profile_icon {
    width: 12%;
    height: auto;
}

.contacts_icon {
    width: 15%;
    height: auto;
}

.profile_header, .contacts_header {
    font-family: "Feather Bold";
    font-size: 1.6rem;
    color: #083947;
}

.bday_area, .gender_area, .home_area, .work_area, .instagram_area,
.gmail_area, .facebook_area, .linked_area {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.linked_area {
    margin-bottom: 10px;
}

.bday_icon, .gender_icon, .home_icon, .work_icon, .instagram_icon,
.gmail_icon, .facebook_icon, .linked_icon {
    width: 15%;
    height: auto;
}

.bday_input, .gender_input, .work_input, .home_input, .instagram_input,
.gmail_input, .facebook_input, .linked_input {
    background: #ffe18a;
    border: solid white 1px;
    padding: 0.5em;
    margin-left: 10px;
    font-family: "rounded";
    color: #083947;
    font-weight: bold;
    width: 90%;
}

.bday_input, .gender_input {
    color: #c7880b;
}

.bday_input:hover, .gender_input:hover {
    cursor: pointer;
}

.bday_title, .gender_title, .work_title, .home_title, .instagram_title,
.gmail_title, .facebook_title, .linked_title {
    padding: 0.5em;
    font-family: "rounded";
    color: #083947;
    font-size: 1.6rem;
    font-weight: bold;
    display: none;
}

/** desc area **/
.description_area {
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.about_area {
    margin-bottom: 20px;
}

.about_title {
    font-family: "Feather Bold";
    font-size: 2.5rem;
    color: #e84d71;
    margin-bottom: 10px;
}

.experiences_header, .abilities_header, .skills_header {
    display: flex;
    flex-direction: row;
}

.exp_hr {
    height: 2px;
}

.experiences_title {
    font-family: "Feather Bold";
    font-size: 2.5rem;
    color: #7fae85;
    margin-bottom: 10px;
}

.abilities_title {
    font-family: "Feather Bold";
    font-size: 2.5rem;
    color: #a0bbde;
    margin-bottom: 10px;
    margin-top: 5px;
}

.abilities_flex {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 10px;
    margin-bottom: 10px;
}

.ability_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    place-items: center;
}

.about_input {
    width: 100%;
    resize: none;
    height: 150px;
    background-color: #F6F4E5;
    padding: 0.8em;
    border: solid #e84d71 2px;
    border-radius: 15px;
    font-family: "rounded";
    font-weight: bold;
    color: #083947;
    font-size: 1.4rem;
}

.about_content {
    display: none;
    font-family: "rounded";
    font-size: 1.6rem;
    max-width: 70ch;
    text-align: justify;
    color: #083947;
}

.experiences_summary {
    font-family: "rounded";
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #083947;
}

.exp_title, .exp_desc {
    background: #F6F4E5;
    padding: 0.5em;
    margin-left: 10px;
    font-family: "rounded";
    color: #7fae85;
    font-weight: bold;
    width: 50%;
    border: none;
    border-bottom: solid #639179 2px;
    margin-bottom: 15px;
}

.exp_title_p {
    font-family: "Feather Bold";
    color: #7fae85;
    font-size: 1.8rem;
    font-weight: bold;
    display: none;
}

.exp_desc_p {
    padding: 0.5em;
    font-family: "rounded";
    color: #083947;
    font-size: 1.6rem;
    display: none;
    max-width: 30ch;
}

.exp_desc {
    width: 90%;
}

.exp_title::placeholder, .exp_desc::placeholder {
    color: #7fae85;
}

.about_input:focus {
    outline: none;
}

.ability_icon {
    width: 60%;
    height: auto;
    margin: 10px;
}

.ability_input {
    width: 200%;
    background: #F6F4E5;
    padding: 0.5em;
    margin-left: 10px;
    font-family: "rounded";
    color: #a0bbde;
    font-weight: bold;
    width: 50%;
    border: none;
    border-bottom: solid #7592bf 2px;
    margin-bottom: 15px;
}

.ability_input::placeholder {
    color: #a0bbde;
}

.ability_title {
    font-family: "Feather Bold";
    color: #7592bf;
    font-size: 1.6rem;
    font-weight: bold;
    display: none;
}

.skills_title {
    font-family: "Feather Bold";
    font-size: 2.5rem;
    color: #c1a4db;
    margin-bottom: 10px;
    margin-top: 5px;
}

.skills_flex, .skills_flex_top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 90%;
    gap: 10px;
    margin-bottom: 10px;
    gap: 50px;
}

.skills_flex_top {
    margin-top: 10px;
}

.progress-radial {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #F6F4E5;
  background-color: #c1a4db;
  border: 2px solid #083947;
}

.progress-radial .overlay {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #F6F4E5;
  border-radius: 50%;
  margin-left: 13px;
  margin-top: 15px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  border: 2px solid #083947;
  font-family: "Feather Bold";
  color: #8c6eb8;
}

.progress-25 {
  background-image: linear-gradient(90deg, #F6F4E5 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #c1a4db 50%, #F6F4E5 50%, #F6F4E5);
}

.progress-85 {
  background-image: linear-gradient(36deg, #c1a4db 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c1a4db 50%, #F6F4E5 50%, #F6F4E5);
}

.progress-90 {
  background-image: linear-gradient(54deg, #c1a4db 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c1a4db 50%, #F6F4E5 50%, #F6F4E5);
}

.progress-95 {
  background-image: linear-gradient(72deg, #c1a4db 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #c1a4db 50%, #F6F4E5 50%, #F6F4E5);
}

.skill_title {
    font-family: "Feather Bold";
    font-size: 1.6rem;

}
